body {
    font-family: sans-serif;
    height: 100vh;
    background-image: url("img/Wave.jpg");
    background-size: cover;
    margin: 0 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app {
    background-color: rgb(31, 65, 152);
    width: 400px;
    height: 530px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    padding: 15px;
    overflow-y: scroll;
  }
  h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 35px;
  }
  h5 {
    color: white;
  }
  
  .app::-webkit-scrollbar {
    width: 0 !important;
  }
  
  #addNew {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 206, 161, 0.35);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 28px;
  }
  #addNew:hover {
    background-color: rgba(212, 227, 208, 0.35);
  }
  
  .fa-plus {
    background-color: rgb(56, 80, 139);
    padding: 5px;
    border-radius: 5px;
  }
  .fa-plus:hover {
    background-color: rgb(111, 136, 197);
  }
  
  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div {
    border: 3px solid #ababab;
    background-color: #e2eede;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }
  
  #tasks div .options {
    justify-self: center;
    display: flex;
    gap: 15px;
    font-size: 20px;
  }
  
  #tasks div .options i {
    cursor: pointer;
  }
  
  #msg {
    color: red;
  }